/* Experience Section */
.expDetailsCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;
    overflow-x: hidden;
}

.expDetailsCon .detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.expDetailsCon .articleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.expDetailsCon .articleContainer article {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 1rem 0;
}

.expDetailsCon .expSubTitle {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

/* Media Queries */
@media screen and (max-width: 900px) {
    .expDetailsCon, .detailsContainer, .articleContainer {
        width: 100%;
    }

    .expDetailsCon .articleContainer article {
        width: 100%;
        margin: 1rem 0;
    }
}

@media screen and (max-width: 600px) {
    .expDetailsCon .articleContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .expDetailsCon .articleContainer article {
        width: 100%;
        margin: 1rem 0;
    }

    .expDetailsCon .expSubTitle {
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
    }
}
